body {

    font-family: var(--fonte-principal);
    color: #333333;
    background-color: #ffffff;
    margin: 0 auto;

}


main {

    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
        
}

@media (max-width: 1280px) {

    main{

        padding: 0.625rem ;



    }



}

.btn {

    font-size: 1.25rem;
    width: 10.063rem;
    height: 3rem;
    border-radius: 1.563rem;
    color: #ffffff;
    font-weight: 400;
    padding: 0.625rem 1.25rem;
    transition: background-color 0.3s, border 0.3s; 


}

.btn-outline {

    background-color: transparent;
    border: 0.125rem solid #ffffff;
    line-height:1.438rem;

}


.btn-filled {

    background-color: #ffffff;
    color: #6329A2;

}

.btn:hover {

    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}

