

.category-section {
    padding-top:2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;

}   


.category-card{

    position: relative;
    width: 19.813rem;
    height: 31.25rem;
    border-radius: 0.938rem;
    overflow: hidden;
    
}

.overlay {

    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;

}

.category-name {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #ffffff;


}

.casual {

    background: url(../../assets/images/banners/tênis\ casual.jpg) no-repeat center;
    background-size: cover;

}

.esporte {

    background: url(../../assets/images/banners/twnia\ exportivo.jpg) no-repeat center;
    background-size: cover;

}

.moderno {

    background: url(../../assets/images/banners/tênis\ colorido.jpg) no-repeat center;
    background-size: cover;

}

.futurista  {

    background: url(../../assets/images/banners/tênis\ futurista.jpg) no-repeat center;
    background-size: cover;

}

