.site-footer {
    
    background-color: #333333;
    color: #ffffff;

}

.footer-content {

    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;

}

.footer-title {

    font-size: 16px;

}

.footer-right {

    display: flex;
    flex-direction: column;
    gap: 3.125rem;

}

.footer-nav ul {

    display: flex;
    gap: 1.25rem;
}

.footer-nav ul ul {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav ul li h4 {

    color: #EDEDED;
    font-size: 20px;
    text-align: start;
    margin-bottom: 16px;
    display: block;

}

.site-footer li a {

    color: #ffffff;
}

.footer-nav li a:hover {

    text-decoration: underline;

}

.newsletter-form input {

    border-radius: 30px;
    color: #AAAAAAAA;
    padding: 12px 20px;
    width: 344px;

}

.footer-social p {

  margin-bottom: 16px;
  display: block;
  

}

.social ul {

    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 1.25rem;

}

.footer-social li a:hover img{

    opacity: 0.5;

}


.copyright {   
    
    font-size: 1.25rem;
    text-align: center;
    align-items: center;
    padding: 20px;

}

hr {

    margin: 0 40px 0 40px;

}