.hero {

    background: url(../../assets/images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;

}

.hero-overlay {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 6rem;    

}

.hero-buttons{



    display: flex;
    gap: 16px;

}

.hero-content{

    color: #ffffff;
    max-width: 360px;
    text-align: center;     

}

.hero-content .hero-tittle {

    font-size: 1.875rem ;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
    

}

.hero-content .hero-subtittle {

    font-size: 1.25rem;
    font-weight: 400;

}

.btn {

    font-size: 1.25rem;
    height: 48px;
    width: 161px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s; 


}

.btn-outline {

    background-color: transparent;
    border: 2px solid #ffffff;
    line-height:23px;

}

.btn-filled {

    background-color: #ffffff;
    color: #6329A2;

}

.btn:hover {

    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}